[submodule "omb"]
	path = omb
	url = https://github.com/damody/open_moba_backend.git
[submodule "specs"]
	path = specs
	url = https://github.com/damody/specs.git
[submodule "log4rs"]
	path = log4rs
	url = https://github.com/damody/log4rs.git
[submodule "omfx"]
	path = omfx
	url = https://github.com/damody/omfx.git
[submodule "map_editor"]
	path = map_editor
	url = https://github.com/damody/map_editor.git
[submodule "mqtt_log_viewer"]
	path = mqtt_log_viewer
	url = https://github.com/damody/mqtt_log_viewer.git
